openapi: 3.0.0
info:
  title: Shipping
  description: Shipping
  x-ibm-languages:
    title:
      fr: Expédition
  version: 1.0.0
  x-ibm-name: shipping-service-v1
  x-pathalias: shipping-api-1.0.0
servers:
  - url: https://api.canadapost-postescanada.ca/prod/devportal-portaildesdeveloppeurs/shipping/v1
paths:
  /{mailedBy}/{mobo}/shipments:
    post:
      parameters:
        - $ref: '#/components/parameters/mailedBy'
        - $ref: '#/components/parameters/mobo'
        - $ref: '#/components/parameters/platformID'
        - $ref: '#/components/parameters/zonosAccountId'
        - $ref: '#/components/parameters/language'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createShipmentRequest'
            example:
              groupId: APIC_DS
              requestedShippingPoint: K1K1K1
              expectedMailingDate: '2026-02-18'
              createQrCode: true
              deliverySpec:
                serviceCode: DOM.XP
                sender:
                  name: Sam Sender
                  company: Happy Sendings
                  contactPhone: 613-325-7777
                  addressDetails:
                    addressLine1: 125 Main St
                    addressLine2: Apt 10
                    city: Ottawa
                    provState: 'ON'
                    countryCode: CA
                    postalZipCode: K1K1K1
                destination:
                  name: Pete Pickup
                  company: GoodsGetter
                  clientVoiceNumber: 613-123-4567
                  addressDetails:
                    addressLine1: 3 Elm St
                    city: Kanata
                    provState: 'ON'
                    countryCode: CA
                    postalZipCode: K1K1K1
                options:
                  - optionCode: COV
                    optionAmount: 123.45
                  - optionCode: SO
                parcelCharacteristics:
                  weight: 0.02
                  dimensions:
                    length: 11
                    width: 12
                    height: 10
                printPreferences:
                  outputFormat: 8.5x11
                preferences:
                  showPackingInstructions: true
                  showPostageRate: true
                  showInsuredValue: true
                settlementInfo:
                  paidByCustomer: '0007271592'
                  contractId: '0041596528'
                  intendedMethodOfPayment: Account
        description: |-
          <p><strong>Request &ndash; Fields</strong></p>
          <table>
            <thead>
              <tr>
                <th>Field Name</th>
                <th>Type</th>
                <th>Required / Optional</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>createQrCode</p>
                </td>
                <td>Boolean</td>
                <td>Optional</td>
                <td>
                  <p>This is an optional field, used to request the QR code image of the public label in base64 format, along with contains public key label URL, and expiry date.</p>
                  <p>If true, two new links are provided: publicLabel and publicKeyInfo.</p>
                  <p>Note: Only applicable to 8 1/2 X 11 paper encoded in pdf</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>createPublicKey</p>
                </td>
                <td>Boolean</td>
                <td>Optional</td>
                <td>
                  <p>This is an optional field, used to request the public key label URL, and expiry date.</p>
                  <p>If true, two new links are provided: publicLabel and publicKeyInfo</p>
                  <p>Note: Only applicable to 8 1/2 X 11 paper encoded in pdf</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;customerRequestId</p>
                </td>
                <td>String</td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 35 characters)</p>
                  <p>A unique ID that you can define for this shipment. It must be unique or the request will be rejected.</p>
                  <p>Supplier Account vendors must use this field to provide a unique identifier for any shipment that is a pre-authorized payment request.</p>
                  <p>You can also use this ID recover shipment details, such as the label, without the need for the information provided in the Create Shipment response. Instead, just use this ID in a request to Get Shipments.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>groupId</p>
                </td>
                <td>String</td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String - up to 32 characters)</p>
                  <p>This field represents the groupId number (or group name) in which to place the created shipment. The group will be created by the Canada Post service if it does not exist.</p>
                  <p>The groupId field is required unless transmitShipment is provided, in which case groupId must not be provided.</p>
                  <p>Do not create a unique group for each individual shipment. The purpose of a groupId is to group several shipments together to include on the same manifest. For example, grouping is useful in the following scenarios:</p>
                  <ul>
                    <li>You have multiple fulfillment locations.</li>
                    <li>You want all shipments in a group to be shipped on the same day.</li>
                    <li>You want to group shipments together for internal reference or billing purposes.</li>
                  </ul>
                  <p><strong>Note:</strong> domestic, U.S., and international shipments will be placed on separate manifests even if they contain the same groupId.</p>
                  <p><strong>Performance limitations</strong></p>
                  <p>To avoid a timeout of our servers, please follow these recommendations:</p>
                  <ul>
                    <li>Do not include more than 30 groups per manifest (i.e., maximum of 30 groupIds in one Transmit Shipments request.)</li>
                    <li>Do not put more than 5,000 shipments in one group.</li>
                  </ul>
                  <p><strong>System limitations</strong></p>
                  <p>To avoid an error, please do not exceed the following limits before performing a Transmit Shipments call:</p>
                  <ul>
                    <li>Maximum of 50 groups per manifest (error 9109 if exceeded).</li>
                    <li>Maximum of 10,000 shipments in one group (error 9110 if exceeded).</li>
                    <li>Maximum of 10,000 shipments across multiple groups (error 9108 if exceeded).</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <p>transmitShipment</p>
                </td>
                <td>Boolean</td>
                <td>Conditionally Required</td>
                <td>
                  <p>{true}</p>
                  <p>Contained within shipment.</p>
                  <p>This field identifies a shipment where no manifest is required for proof of payment.</p>
                  <p>This shipment will be transmitted immediately and a subsequent Transmit Shipments call is not required.</p>
                  <p>Use this field if you ship fewer than 50 parcels per day from multiple locations using one of these business models:</p>
                  <ul>
                    <li>Consumer-to-consumer shipping (e.g. online auction websites)</li>
                    <li>Distributed order management</li>
                    <li>Third-party direct fulfillment</li>
                  </ul>
                  <p>When this field is set to true, you will be charged immediately once your Create Shipment request is complete. Your shipment cannot be voided.</p>
                  <p><strong>Important:</strong> If you use traditional contract shipping and manifest processes (e.g. you ship more than 50 parcels per day from a central warehouse), this process is not for you. You must continue to use the regular manifest process. Failure to do so will result in refusal of your shipment until you produce the required manifests.</p>
                  <p>If you are a non-contract shipping customer who uses contract shipping web services, you must provide this field.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>quickshipLabelRequested</p>
                </td>
                <td>Boolean</td>
                <td>Optional</td>
                <td>
                  <p>{true}</p>
                  <p>Use this field if you already have a domestic parcel with the recipient&rsquo;s name and address on it, but you want to create an additional label to affix to the parcel for tracking purposes.</p>
                  <p>Set this field to true, and, for billing purposes, provide the country code (must be CA) and the postal code, in the destination structure. A label that contains a tracking barcode and the words &ldquo;Quick Ship &ndash; Refer to Address Label/Exp&eacute;dition rapide &ndash; Reportez-vous &agrave; l&rsquo;&eacute;tiquette d&rsquo;adresse&rdquo; will be created.</p>
                  <p>Only provide this parameter when you want a Quick Ship label (i.e. do not provide when false).</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>requestedShippingPoint</p>
                </td>
                <td>String</td>
                <td>Conditionally Required</td>
                <td>
                  <p>(6-character alphanumeric string)</p>
                  <p>Must be in valid Postal Code format.</p>
                  <p>e.g. A9A9A9</p>
                  <p>Pattern is [A-Z]\d[A-Z]\d[A-Z]\d</p>
                  <p>Postal Code of the location where your shipments are picked up. The Postal Code you provide is used for pricing purposes.</p>
                  <p>If you deposit your shipments yourself, you have 2 choices:</p>
                  <ul>
                    <li>Omit this field and provide the site number of your deposit location in shippingPointId. (recommended), or</li>
                    <li>Provide the postal code of your deposit location here and omit shippingPointId.</li>
                  </ul>
                  <p><strong>Note:</strong> Using requestedShippingPoint to indicate your deposit location postal code will be discontinued in a future release. If you deposit your shipments yourself, we recommend using the shippingPointId field.</p>
                  <p>Mandatory when cpcPickupIndicator is provided.</p>
                  <p>Mutually exclusive with shippingPointId, but one of the two must be provided</p>
                  <p>You will be asked to provide the requestedShippingPoint again in your Transmit Shipments request. If you use a different Postal Code, it may result in a price adjustment depending on the difference in distance between the two locations.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>cpcPickupIndicator</p>
                </td>
                <td>Boolean</td>
                <td>Optional</td>
                <td>
                  <p>(true)</p>
                  <p>Set this field to true if your shipments are picked up by Canada Post or a third party. Provide the Postal Code of your pickup location in requestedShippingPoint.</p>
                  <p>Omit this field if you deposit your shipments yourself.</p>
                  <p>Mutually exclusive with shippingPointId.</p>
                  <p>You must also set this field to true in your Transmit Shipments request.</p>
                  <p><strong>Note:</strong> In a future release it will become mandatory to explicitly identify whether your shipment is picked up by Canada Post (by providing both this indicator and requestedShippingPoint) or deposited at a Canada Post site (by providing shippingPointId).</p>
                  <p>We recommend preparing for this change by providing this indicator (and requestedShippingPoint) if your shipment is picked up by Canada Post.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;shippingPointId</p>
                </td>
                <td>String</td>
                <td>Conditionally Required</td>
                <td>
                  <p>(4-character alphanumeric string)</p>
                  <p>If you deposit your items at a Post Office or other Canada Post facility, provide the site number of the deposit location. Look up the site number using <a href="https://www.canadapost-postescanada.ca/information/app/fdl/business/findDepositLocation">Find a Deposit Location</a>. This information is used for pricing.</p>
                  <p>You will also be asked to provide the shippingPointId in your Transmit Shipments request. Enter the same site number or pricing may be affected.</p>
                  <p>Mutually exclusive with requestedShippingPoint but one of the two must be provided.</p>
                  <p><strong>Note:</strong> If you deposit your items yourself, we recommend using this field rather than the requestedShippingPoint field to indicate your deposit location.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>expectedMailingDate</p>
                </td>
                <td>String</td>
                <td>Optional</td>
                <td>
                  <p>(YYYY-MM-DD - date format)</p>
                  <p><strong>Note:</strong> You can omit this field. It will be used in a future release.</p>
                  <p>All shipments are priced as per the current shipment date and are re-priced at time of transmit if transmitted at a later date.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;providePricingInfo</p>
                </td>
                <td>Boolean</td>
                <td>Optional</td>
                <td>
                  <p>{true}</p>
                  <p>This field identifies that you want the shipmentPrice structure included in the response to this call. It will result in a larger payload but eliminates the need for a subsequent call to Get Shipment Price.</p>
                  <p>Only applicable to a shipment where transmitShipment=true.</p>
                  <p>Only provide this parameter if you want pricing details in the response (i.e., do not provide when false).</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>&nbsp;provideReceiptInfo</p>
                </td>
                <td>Boolean</td>
                <td>Optional</td>
                <td>
                  <p>{true}</p>
                  <p>This field identifies that you want the shipmentReceipt structure included in the response to this call. It will result in a larger payload but eliminates the need for a subsequent call to Get Shipment Receipt.</p>
                  <p>Only applicable to a shipment where transmitShipment=true that is paid by credit card or Supplier Account.</p>
                  <p>Only provide this parameter if you want receipt details in the response (i.e., do not provide when false).</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>deliverySpec</p>
                </td>
                <td>Object</td>
                <td>Required</td>
                <td>
                  <p>Provides a description of the delivery request details, including recipient, serviceCode, sender, options, item specification, notificationInfo and referenceIds.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>serviceCode</p>
                </td>
                <td>String</td>
                <td>Required</td>
                <td>
                  <p>(Character String - up to 32 characters)</p>
                  <p>Must be a valid code representing the Canada Post delivery service used for shipping the item. The most frequently used codes are listed below.</p>
                  <table>
                    <thead>
                      <tr>
                        <th>Service Code</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>DOM.RP</td>
                        <td>Regular Parcel</td>
                      </tr>
                      <tr>
                        <td>DOM.EP</td>
                        <td>Expedited Parcel</td>
                      </tr>
                      <tr>
                        <td>DOM.XP</td>
                        <td>Xpresspost</td>
                      </tr>
                      <tr>
                        <td>DOM.PC</td>
                        <td>Priority</td>
                      </tr>
                      <tr>
                        <td>DOM.LIB</td>
                        <td>Library Books</td>
                      </tr>
                      <tr>
                        <td>USA.EP</td>
                        <td>Expedited Parcel USA</td>
                      </tr>
                      <tr>
                        <td>USA.SP.AIR</td>
                        <td>Small Packet USA Air</td>
                      </tr>
                      <tr>
                        <td>USA.TP</td>
                        <td>Tracked Packet &ndash; USA</td>
                      </tr>
                      <tr>
                        <td>USA.TP.LVM</td>
                        <td>
                          <p>Tracked Packet &ndash; USA (LVM)<br>(large volume mailers)</p>
                          <p><strong>Note:</strong> To use this option, it must be specified in your contract.</p>
                        </td>
                      </tr>
                      <tr>
                        <td>USA.XP</td>
                        <td>Xpresspost USA</td>
                      </tr>
                      <tr>
                        <td>INT.XP</td>
                        <td>Xpresspost International</td>
                      </tr>
                      <tr>
                        <td>INT.IP.AIR</td>
                        <td>International Parcel Air</td>
                      </tr>
                      <tr>
                        <td>INT.IP.SURF</td>
                        <td>International Parcel Surface</td>
                      </tr>
                      <tr>
                        <td>INT.SP.AIR</td>
                        <td>Small Packet International Air</td>
                      </tr>
                      <tr>
                        <td>INT.SP.SURF</td>
                        <td>Small Packet International Surface</td>
                      </tr>
                      <tr>
                        <td>INT.TP</td>
                        <td>Tracked Packet &ndash; International</td>
                      </tr>
                    </tbody>
                  </table>
                  <p>(Note - These delivery services and their codes can be discovered by calling the Get Rates and Discover Services web services described in <a href="../../../api/overview/rating">Rating</a>)</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>sender</p>
                </td>
                <td>Object</td>
                <td>Required</td>
                <td>
                  <p>This structure contains data about the sender that will appear in the &ldquo;From&rdquo; address of the label. Blank fields will be removed for address formatting.</p>
                  <p><strong>Note:</strong> sender address must be domestic.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>name</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 44 characters)</p>
                  <p>Contact name of the sender.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>company</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Character String - up to 44 characters)</p>
                  <p>Company name of the sender.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>contactPhone</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Character String - up to 25 characters)</p>
                  <p>Contact phone number of the sender.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>addressDetails</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Required</td>
                <td>
                  <p>Contains the address data about the sender. Blank address fields will be removed for formatting the labels.</p>
                  <p><strong>Note:</strong> sender address must be domestic.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>addressLine1</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Character String - up to 44 characters)</p>
                  <p>Address of the sender.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>addressLine2</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 44 characters)</p>
                  <p>Address line 2 of the sender.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>city</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Character String - up to 40 characters)</p>
                  <p>City of sender.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>provState</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Character String - up to 20 characters)</p>
                  <p>Province of sender.</p>
                  <p>Use standard Canadian province codes.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>countryCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(2-character valid country code)</p>
                  <p>Country code of sender. Must be CA.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>postalZipCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(6-character alphanumeric)</p>
                  <p>Must be in valid postal code format</p>
                  <p>e.g. A9A9A9</p>
                  <p>Pattern is [A-Z]\d[A-Z]\d[A-Z]\d</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>destination</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Required</td>
                <td>
                  <p>This field should always contain the address of the mail recipient, even if you are using the Deliver to Post Office option.</p>
                  <ul>
                    <li>For regular shipments, this data will appear in the "To" address of the label.</li>
                    <li>For Deliver to Post Office shipments, the system will substitute the Post Office address on the label.</li>
                    <li>For Quick Ship shipments (quickshipLabelRequested = true), this is only used for rating purposes and only the destination countryCode (CA) and postalCode fields must be provided.</li>
                  </ul>
                  <p>Blank fields will be removed in the address formatting.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>name</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String &ndash; up to 44 characters)</p>
                  <p>Contact name of the recipient at the destination.</p>
                  <p>If the Deliver to Post Office option is used, the name field must be present for the destination.</p>
                  <p>Not required when quickshipLabelRequested is true.</p>
                  <p>When shipping outside of Canada, at least one of name or company is required to comply with international customs regulations.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>company</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String &ndash; up to 44 characters)</p>
                  <p>Company name of the recipient at the destination.</p>
                  <p>When shipping outside of Canada, at least one of name or company is required to comply with international customs regulations.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>additionalAddressInfo</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String &ndash; up to 44 characters)</p>
                  <p>Additional address information for the destination.</p>
                  <p>This information is printed directly above address line 1 on the shipping label.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>clientVoiceNumber</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String &ndash; up to 25 characters)</p>
                  <p>Phone number at the destination. Not required for domestic shipments unless the Deliver to Post Office option has been selected.</p>
                  <p><strong>Note:</strong> In addition to numbers, the following characters are also accepted in this field:</p>
                  <ul>
                    <li>A plus sign (+), but only as the first character in the string.</li>
                    <li>Period (.), hyphen (-), open and close brackets, space, and x or p to indicate an extension.</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <p>addressDetails</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Required</td>
                <td>
                  <p>Contains the address data the destination of the shipment. Blank fields will be removed for formatting the labels.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>addressLine1</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String &ndash; up to 44 characters)</p>
                  <p>Address at the destination.</p>
                  <p>Not required when quickshipLabelRequested is true; mandatory otherwise.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>addressLine2</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String &ndash; up to 44 characters)</p>
                  <p>Address line 2 for the destination.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>city</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String &ndash; up to 40 characters)</p>
                  <p>Destination city.</p>
                  <p>Optional for international shipments. Required for domestic and U.S.A. shipments.</p>
                  <p>Not required when quickshipLabelRequested is true.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>provState</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String &ndash; up to 20 characters)</p>
                  <p>Province or state for the destination.</p>
                  <p>Use:</p>
                  <ul>
                    <li>Standard province code for provinces within Canada.</li>
                    <li>Standard state code for U.S. states.</li>
                    <li>Free form for states and provinces of other countries.</li>
                  </ul>
                  <p>Optional for international shipments. Required for domestic and U.S.A. shipments (except when quickshipLabelRequested is true).</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>countryCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(2-character valid country code)</p>
                  <p>Country code for the destination.</p>
                  <p>Must be CA when quickshipLabelRequested&nbsp;is true.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>postalZipCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>Can be one of the following:</p>
                  <ul>
                    <li>(6-character alphanumeric for Canada (A9A9A9)<br>Pattern is [A-Z]\d[A-Z]\d[A-Z]\d</li>
                    <li>(5-digit or 5-4 digit numeric code for US)<br>Pattern is \d{5}(-\d{4})?</li>
                    <li>Character String - up to 14 characters (free format) for other countries.</li>
                  </ul>
                  <p>Required for countries that require a Postal Code or zip code (e.g. Canada, U.S.A.)</p>
                  <p>Postal Code or zip code at the destination.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>options</p>
                </td>
                <td>
                  <p>Array of Objects</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>Contains options for the delivery serviceCode such as insurance, COD, etc.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>optionCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Alphanumeric String of up to 10 letters/digits)</p>
                  <p>Required if the corresponding parent field "option" exists.</p>
                  <p>This is the option code indicating which option applies to this shipment.</p>
                  <p>Valid option codes are as follows</p>
                  <p>SO - Signature<br>COV - Coverage<br>COD - Collect on delivery <br>PA18 - Proof of Age Required - 18<br>PA19 - Proof of Age Required - 19<br>PA21 - Proof of Age Required - 21<br>HFP - Card for pickup<br>DNS - Do not safe drop<br>LAD - Leave at door - do not card<br>D2PO - Deliver to Post Office</p>
                  <p><strong>Note:</strong> The D2PO option indicates that the parcel will be delivered directly to a nearby Post Office. For the D2PO option, the following fields are required:</p>
                  <ul>
                    <li>name (under destination)</li>
                    <li>clientVoiceNumber (under destination)</li>
                    <li>notification</li>
                    <li>optionQualifier2</li>
                  </ul>
                  <p><strong>Note:</strong> If you select Collect on Delivery (COD), specify Card for Pickup (HFP) or Deliver to Post Office (D2PO). This is to facilitate the collection of COD funds at a post office. If not specified, the system will default to HFP.</p>
                  <p><strong>Non-delivery handling codes</strong><br>(required for some U.S.A. and international shipments)<br>RASE - Return at Sender&rsquo;s Expense<br>RTS - Return to Sender<br>ABAN - Abandon</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>optionAmount</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Numeric field of pattern 6.2 e.g. 999999.99)</p>
                  <p>Required if the corresponding parent field "option" exists and depending on the value of optionCode.</p>
                  <p>e.g., For COV option, this is the amount of insurance coverage to be purchased.</p>
                  <p>For COD option, this is the base amount to collect on delivery (shipping costs may also be added by the system as described below in optionQualifier1).</p>
                  <p>On U.S. and international shipments, do not provide if you want the system to calculate the maximum allowable coverage (see optionQualifier1 below).</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>optionQualifier1</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>boolean &ndash; {true, false}</p>
                  <p>Can be used to provide a qualifier for the COD or COV options.</p>
                  <p>To indicate if the COD amount is to include the shipping cost or not:</p>
                  <ul>
                    <li>true = Shipping costs will be added to the COD amount you provided in&nbsp;optionAmount.</li>
                    <li>false = The COD amount to collect is specified in optionAmount (i.e. Shipping costs are not to be added).</li>
                  </ul>
                  <p>To use with the COV option on U.S. and international shipments to indicate that the system can apply the maximum allowable coverage amount, which would equal the total value of your goods, up to the allowable maximum for product and country:</p>
                  <ul>
                    <li>true = Use maximum allowable coverage; when used, there is no need to provide optionAmount.</li>
                    <li>false (the default) = Use the amount of coverage as provided in optionAmount.</li>
                  </ul>
                  <p>False is the default if the qualifier is not provided.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>optionQualifier2</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>{Character String up to 12 characters}</p>
                  <p>Required if the corresponding parent field "option" exists <strong>and</strong> the optionCode is one that requires a 2nd qualifier.</p>
                  <p>Currently, the options requiring a 2nd qualifier are:</p>
                  <p><strong>Deliver to Post Office</strong><br>For the Deliver to Post Office option, this field must contain the office id of the destination Post Office.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>parcelCharacteristics</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Required</td>
                <td>
                  <p>Describes the characteristics of the parcel.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>weight</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Numeric field of pattern 3.3 e.g. 999.999)</p>
                  <p>Total package weight in kg.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>dimensions</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>Contains the physical dimensions of the parcel, which can be used to make a more accurate determination of shipping cost.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>length</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Numeric field of pattern 3.1 e.g. 999.9 pattern)</p>
                  <p>Length of parcel in cm.</p>
                  <p>Required if the corresponding parent field "dimensions" exists.</p>
                  <p>If specified, a more accurate price can be derived.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>width</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Numeric field of pattern 3.1 e.g. 999.9 pattern)</p>
                  <p>Width of parcel in cm.</p>
                  <p>Required if the corresponding parent field "dimensions" exists.</p>
                  <p>If specified, a more accurate price may be derived.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>height</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Numeric field of pattern 3.1 e.g. 999.9 pattern)</p>
                  <p>Height of parcel in cm.</p>
                  <p>Required if the corresponding parent field "dimensions" exists.</p>
                  <p>If specified, a more accurate price may be derived.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>unpackaged</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>{true, false}</p>
                  <p>Indicates whether a shipment is unpackaged or not. For example, auto tires may be an example of an unpackaged shipment.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>mailingTube</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>{true, false}</p>
                  <p>Indicates whether a shipment is contained in a mailing tube. e.g. a poster tube</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>oversized</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>{true, false}</p>
                  <p>Indicates whether the parcel is oversized or not.</p>
                  <p><strong>Note:</strong> If parcel dimensions have been provided, then this field will be automatically determined (as either true or false) based on the parcel dimensions (regardless of whether you include a value for the "oversized" field field). However, if no dimensions are provided, then you can specify that a parcel is oversized (or not) using this field.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>notification</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>Contains client references&nbsp;with respect to email notification for tracking events e.g. delivery.</p>
                  <p>This field is required if the Deliver to Post Office (D2PO) option has been selected. For Deliver to Post Office, the email indicated within notification will be used to notify the customer that their parcel is ready for pickup.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>email</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String - up to 60 characters)</p>
                  <p>Must be a valid email address.</p>
                  <p>Pattern is (['_A-Za-z0-9\-\+])(\.['_A-Za-z0-9\-\+])@([A-Za-z0-9-])(\.[A-Za-z0-9-])(\.[A-Za-z]{2,})</p>
                  <p>This field is required if the notification field exists.</p>
                  <p>Email address to receive automatic tracking updates.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>onShipment</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>{true, false}</p>
                  <p>This field is required if the notification field exists.</p>
                  <p>Indicates whether you wish to receive an email notification upon shipment of the parcel.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>onException</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>{true, false}</p>
                  <p>This field is required if the notification field exists.</p>
                  <p>Indicates whether you wish to receive an email notification on exceptions.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>onDelivery</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>{true, false}</p>
                  <p>This field is required if the notification field exists.</p>
                  <p>Indicates whether you wish to receive an email notification upon delivery of the parcel.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>printPreferences</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>Contains print preferences for the labels.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>outputFormat</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>{8.5x11, 4x6}</p>
                  <p>8.5x11 indicates paper and 4x6 indicates thermal.</p>
                </td>
              </tr>
              <tr>
                <td>encoding</td>
                <td>String</td>
                <td>optional</td>
                <td>
                  <p>{PDF, ZPL}</p>
                  <p>Use this field to specify the output format for your shipping label: PDF or ZPL II. If not provided, PDF will be selected by default.</p>
                  <p>If you choose ZPL, the response from a Get Artifact call will include a file containing ZPL II printer commands. You will then need to either code a solution or use an application to stream the commands directly to a thermal printer.</p>
                  <p>For ZPL II labels, your printer must support truncation. Use our <a href="../../../printing-labels">sample code to test your printer&rsquo;s ability to truncate text.</a></p>
                  <p>ZPL is only available on thermal paper so&nbsp;outputFormat&nbsp;must be 4x6.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>preferences</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Required</td>
                <td>
                  <p>Contains a number of preferences with respect to printing labels, etc.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>showPackingInstructions</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Required</td>
                <td>
                  <p>{true, false}</p>
                  <p>Indicates whether packing instructions are to be rendered on the label.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>showPostageRate</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>{true, false}</p>
                  <p>Indicates whether the postal rate is to be shown on the label.</p>
                  <p>This field is required only for U.S.A. and international shipments.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>showInsuredValue</p>
                </td>
                <td>
                  <p>Boolean</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>{true, false}</p>
                  <p>Indicates whether the insured value is to be shown on the label.</p>
                  <p>This field is required only for insured U.S.A. and international shipments.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>references</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>Contains reference fields that you assign. You can assign these alternate (possibly unique) identification numbers to the shipment for any purpose useful to you.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>costCentre</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 30 characters)</p>
                  <p>This is a value you assign for use by your applications. The value you enter here will appear on your invoice and in the PosteCS secure email that we use to send your invoice.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>customerRef1</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 35 characters)</p>
                  <p>This is a user-defined value available for use by your applications. (e.g. you could use this field as an internal "order id"). The value you enter here will appear on the shipping label, in Track and &ndash; for customers who subscribe to our Automated Parcel Tracking service &ndash; in your APT file.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>customerRef1</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 35 characters)</p>
                  <p>This is a user-defined value available for use by your applications. The value you enter here will appear on the shipping label, in Track and &ndash; for customers who subscribe to our Automated Parcel Tracking service &ndash; in your APT file.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>customs</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>Contains information to be printed on the label to facilitate passing through customs at international borders.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>usdeclarationid</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Alphanumeric String - up to 30 letters/digits)</p>
                  <p>A declaration ID is required when shipping items to the US if a Zonos account key is not included in the header. Please provide your Zonos declaration id here when it is being generated directly from their APIs. Each declaration ID is unique to a single shipment.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>currency</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String - 3 alphabetic characters)</p>
                  <p>This is the currency of the receiving country. The currency code is converted to uppercase, if not already. Value must be:</p>
                  <ul>
                    <li>CAD for Canadian currency</li>
                    <li>USD for U.S. currency</li>
                    <li>Other valid ISO currency code</li>
                  </ul>
                  <p>Required if the corresponding parent field "customs" exists.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>conversionFromCad</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Numeric field of pattern 3.3 i.e. 999.999)</p>
                  <p>The conversion rate from the Canadian dollar to the currency you entered in the currency field above; for example, if you used USD as the target currency and $1.00 CAD = $0.85 USD, the conversion rate is 0.85.</p>
                  <p>Required if the corresponding parent field "customs" exists and the currency is not CAD.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>reasonForExport</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(3 characters)</p>
                  <p>A code that represents the reason for export, which assists with border crossing.</p>
                  <p>The codes and their meanings are as follows:</p>
                  <p>DOC = document<br>SAM = commercial sample<br>REP = repair or warranty<br>SOG = sale of goods<br>OTH = other</p>
                  <p>Required if the corresponding parent field "customs" exists.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>otherReason</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String - minimum 4 characters; maximum 44 characters)</p>
                  <p>Contains the reason for export.</p>
                  <p>Required if the field reasonForExport is "other".</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>dutiesAndTaxesPrepaid</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>Reserved for future use.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>certificateNumber</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String &ndash; up to 10 characters)</p>
                  <p>If required by customs at the destination, the number of the government/agency certificate or permit.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>licenseNumber</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String &ndash; up to 10 characters)</p>
                  <p>If required by customs at the destination, the number of the government/agency import or export licence.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>invoiceNumber</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String &ndash; up to 10 characters)</p>
                  <p>If required by customs at the destination, the commercial invoice number.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>iossId</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String up to 13 characters)</p>
                  <p>Optional field to enter Tax Registration Numbers or IDs (e.g. Tax ID, IRS No., VAT, IOSS number) for electronic transmission to the&nbsp;receiving post. Note: IOSS should be entered as IMxxxxxxxxxx.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>skuList</p>
                </td>
                <td>
                  <p>Array of Objects</p>
                </td>
                <td>Required</td>
                <td>
                  <p>Required if the corresponding customs parent field exists.</p>
                  <p>Contains the list of unique types of items that are contained within this shipment, as well as information about them. Each item type may have a quantity of 1 or more. This information is printed on the manifest label to assist with processing of the parcel at customs.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>customsNumberOfUnits</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Numeric field of four digits e.g. 9999)</p>
                  <p>Required if the corresponding parent field "item" exists.</p>
                  <p>The number of units in the parcel.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>customsUnitOfMeasure</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Three-character ISO code)</p>
                  <p>Identifies the unit of measure for the customsNumberOfUnits.</p>
                  <ul>
                    <li>PCE &ndash; Piece</li>
                    <li>NMB &ndash; Number</li>
                    <li>PAR &ndash; Pair</li>
                    <li>PKG &ndash; Package</li>
                    <li>ENV &ndash; Envelope</li>
                    <li>LTR &ndash; Litre</li>
                    <li>MLT &ndash; Millilitre</li>
                    <li>BOX &ndash; Box</li>
                    <li>BAG &ndash; Bag</li>
                    <li>MTR &ndash; Metre</li>
                    <li>MMT &ndash; Millimetre</li>
                    <li>DZN &ndash; Dozen</li>
                    <li>GRM &ndash; Gram</li>
                    <li>KGM &ndash; Kilogram</li>
                    <li>CTN &ndash; Carton</li>
                    <li>BIN &ndash; Bin</li>
                    <li>SET &ndash; Number of sets</li>
                    <li>BOT &ndash; Bottle</li>
                    <li>TBE &ndash; Tube</li>
                    <li>KIT &ndash; Kit</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <p>customsDescription</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String - up to 45 characters)</p>
                  <p>Required if the corresponding parent field "item" exists.</p>
                  <p>A customs description of the item.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>sku</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 15 characters)</p>
                  <p>A customs sku number or sku name for the item</p>
                  <p><strong>Note:</strong> Version 6 only permits up to 15 characters. Previous versions allow up to 44 characters, but data will be truncated at 15 characters. The length limitations are necessary to comply with international customs regulations.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>hsTariffCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Numeric field of the general form 9999.99.99.99)</p>
                  <p>Pattern is \d{4}(\.\d{2}(\.\d{2}(\.\d{2})?)?)?</p>
                  <p>The tariff code for the item.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>unitWeight</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Numeric field of pattern 2.3 e.g. 99.999)</p>
                  <p>Required if the corresponding parent field "item" exists.</p>
                  <p>The unit weight of the item in kg.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>customsValuePerUnit</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Numeric field of pattern 5.2 e.g. 99999.99)</p>
                  <p>Required if the corresponding parent field "item" exists.</p>
                  <p>The value per unit in Canadian currency of the item.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>countryOfOrigin</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(2-character valid country code)</p>
                  <p>The country of origin of the corresponding item. Provide this if the corresponding parent field "item" exists (and if the country of origin is known).</p>
                  <p>If the country of origin is not known, the field can be omitted.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>provinceOfOrigin</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(2-character valid province code)</p>
                  <p>Required if country of origin is Canada.</p>
                  <p>The province of origin of the goods.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>settlementInfo</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Required</td>
                <td>
                  <p>This structure contains the customer details for settlement of payment.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>paidByCustomer</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(10-digit numeric)</p>
                  <p>paidByCustomer numbers are 10 digits. If the number you provide has fewer than 10 digits, the system will add leading zeros to increase the length to 10.</p>
                  <p>The customer number of the customer who will be billed for the shipment. This is typically the same as the "mailed on behalf of" customer unless a Central Payer relationship has been identified to Canada Post. If it is not supplied, it defaults to mailed-on-behalf-of.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>contractId</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(10-digit numeric)</p>
                  <p>contract ID numbers are 10 digits. If the number you provide has fewer than 10 digits, the system will add leading zeros to increase the length to 10.</p>
                  <p>Required to identify contract discounts if the intended method of payment is Account.</p>
                </td>
              </tr>
              <tr>
                <td>cifShipment</td>
                <td>Boolean</td>
                <td>optional</td>
                <td>
                  <p>{true}</p>
                  <p>If you have shipments that originate outside of Canada, but are being delivered directly to a Canada Post plant, use this field to identify these shipments as continuous inbound freight (CIF). This option allows you to be eligible for Canadian sales tax exemptions. You will need to provide Canada Post with documentation that shows proof of origin, such as a Canadian customs document or bill of lading.</p>
                  <p>Only provide this parameter when the shipment is CIF (i.e. do not provide when false).</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>intendedMethodOfPayment</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>Character String &ndash; up to 15 characters</p>
                  <p>This field indicates the customer&rsquo;s method of payment for a shipment where no manifest is required (transmitShipments=true), or the intended method of payment otherwise (the actual method of payment being in the subsequent Transmit Shipments).</p>
                  <p>Valid values for intendedMethodOfPayment are:</p>
                  <ul>
                    <li>CreditCard = the payment will be by credit card. This must be saved and defaulted on your Canada Post profile.</li>
                    <li>Account = the payment will be by an existing contract with the paidByCustomer.</li>
                    <li>SupplierAccount = the payment will be through the Supplier Account specified in preAuthorizedPayment&nbsp;or identified as default in the customer profile (only available to Supplier Account providers).</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <p>promoCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>Character String &ndash; up to 10 characters.</p>
                  <p>Promotional discount code. Note that a promotion code is only valid for a certain period and product.</p>
                  <p>Your entry will be converted to uppercase (i.e, you can use lowercase or a mix of lower or upper case and will get the same result).</p>
                  <p><strong>Note:</strong> Promotion Code DEVPROTEST can be used to test this functionality in the sandbox environment. This promo code is only valid in the sandbox environment and for the following products:</p>
                  <ul>
                    <li>Xpresspost (DOM.XP)</li>
                    <li>Xpresspost International (INT.XP)</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <p>returnSpec</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>Contains the return delivery request details, including return recipient, labelCount, serviceCode and referenceIds. If this field is absent, no return shipping label is required.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>serviceCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Character String - up to 32 characters)</p>
                  <p>Must be a valid code representing the Canada Post delivery service used for shipping the item. The most frequently used codes are listed below.</p>
                  <table>
                    <thead>
                      <tr>
                        <th>Service Code</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>DOM.RP</td>
                        <td>Regular Parcel</td>
                      </tr>
                      <tr>
                        <td>DOM.EP</td>
                        <td>Expedited Parcel</td>
                      </tr>
                      <tr>
                        <td>DOM.XP</td>
                        <td>Xpresspost</td>
                      </tr>
                      <tr>
                        <td>DOM.PC</td>
                        <td>Priority</td>
                      </tr>
                      <tr>
                        <td>DOM.LIB</td>
                        <td>Library Books</td>
                      </tr>
                    </tbody>
                  </table>
                  <p>(Note - These delivery services and their codes can be discovered by calling the Get Rates and Discover Services web services described in <a href="../../../api/overview/rating">Rating</a>)</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>returnRecipient</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>Required if the corresponding parent field "returnSpec&rdquo; exists.</p>
                  <p>The returnRecipient structure provides the shipping details (e.g. address) for the return delivery as it shows on the return label.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>name</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 44 characters)</p>
                  <p>Contact name of the returnRecipient.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>company</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 44 characters)</p>
                  <p>Company name of the returnRecipient.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>addressDetails</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>Required if the parent field returnRecipient exists (based on whether you have specified the need for a return address)</p>
                  <p>Contains the address data about returnRecipient.</p>
                  <p>Blank fields will be removed in address fields for formatting the labels.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>addressLine1</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Character String - up to 44 characters)</p>
                  <p>Address line 1 of returnRecipient.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>addressLine2</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 44 characters)</p>
                  <p>Address line 2 of returnRecipient.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>city</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String - up to 40 characters)</p>
                  <p>City of returnRecipient.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>provState</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>(Character String - up to 20 characters)</p>
                  <p>Province of codRemittance.</p>
                  <p>Use standard Canadian province code.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>postalZipCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Conditionally Required</td>
                <td>
                  <p>6-character alphanumeric Canadian Postal Code for the returnRecipient address.</p>
                  <p>(A9A9A9)<br>Pattern is [A-Z]\d[A-Z]\d[A-Z]\d</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>returnNotification</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>(Character String - up to 60 characters)</p>
                  <p>Pattern is (['_A-Za-z0-9\-\+]+)(\.['_A-Za-z0-9\-\+]+)*@([A-Za-z0-9-]+)(\.[A-Za-z0-9-]+)*(\.[A-Za-z]{2,5})</p>
                  <p>The email address that an onDelivery notification will be sent to when the return shipment is delivered.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>preAuthorizedPayment</p>
                </td>
                <td>
                  <p>Object</p>
                </td>
                <td>Optional</td>
                <td>
                  <p>Supplier Account providers can pre-authorize payment using the Supplier Account of their customer.</p>
                  <p><strong>Important:</strong> This functionality can only be used by Canada Post approved Supplier Account providers, and only on a shipment where no manifest is required.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>accountNumber</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Character string &ndash; up to 16 characters)</p>
                  <p>The account number from which the amount will be withdrawn; will be used for reconciliation.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>authCode</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>(Character string &ndash; up to 16 characters)</p>
                  <p>The authorization code from the supplier; will be used for reconciliation.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>authTimestamp</p>
                </td>
                <td>
                  <p>String</p>
                </td>
                <td>Required</td>
                <td>
                  <p>The authorization date and time; will be used for reconciliation.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <p>chargeAmount</p>
                </td>
                <td>
                  <p>Number</p>
                </td>
                <td>Required</td>
                <td>
                  <p>The amount authorized in Canadian dollars; must match the total charges that will be calculated.</p>
                  <p>Format 9999999.99 (leading zeroes not required).</p>
                </td>
              </tr>
            </tbody>
          </table>
        x-ibm-languages:
          description:
            fr: |-
              <p><strong>Demande &ndash; Champs</strong></p>
              <table>
                <thead>
                  <tr>
                    <th>Nom du champ</th>
                    <th>Type</th>
                    <th>Requis/Facultatif</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <p>createQrCode</p>
                    </td>
                    <td>
                      <p>Bool&eacute;en</p>
                    </td>
                    <td>Facultatif</td>
                    <td>
                      <p>Il s'agit d'un champ facultatif, utilis&eacute; pour demander l'image de code QR de l'&eacute;tiquette publique au format base64, ainsi que contient l'URL de l'&eacute;tiquette de cl&eacute; publique et la date d'expiration.</p>
                      <p>Si c'est vrai, deux nouveaux liens sont fournis : publicLabel et publicKeyInfo.</p>
                      <p>Remarque : Applicable uniquement &agrave; 8 1/2 X 11 papier cod&eacute; en pdf</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>createPublicKey</p>
                    </td>
                    <td>
                      <p>Bool&eacute;en</p>
                    </td>
                    <td>Facultatif</td>
                    <td>
                      <p>Il s'agit d&rsquo;un champ facultatif, utilis&eacute; pour demander l'URL de l'&eacute;tiquette de cl&eacute; publique et la date d'expiration.</p>
                      <p>Si c'est vrai, deux nouveaux liens sont fournis : publicLabel et publicKeyInfo</p>
                      <p>Remarque : Applicable uniquement &agrave; 8 1/2 X 11 papier cod&eacute; en pdf</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>customerRequestId</p>
                    </td>
                    <td>
                      <p>Cha&icirc;ne de caract&egrave;res</p>
                    </td>
                    <td>Facultatif</td>
                    <td>
                      <p>(Cha&icirc;ne de caract&egrave;res &ndash; Jusqu&rsquo;&agrave; 35 caract&egrave;res)</p>
                      <p>Un num&eacute;ro d&rsquo;identification unique que vous pouvez d&eacute;finir pour cet envoi. Il doit &ecirc;tre unique ou la demande sera rejet&eacute;e.</p>
                      <p>Les fournisseurs de compte de fournisseur doivent utiliser ce champ pour indiquer un num&eacute;ro d&rsquo;identification unique pour tout envoi associ&eacute; &agrave; une demande de paiement pr&eacute;autoris&eacute;.</p>
                      <p>Vous pouvez &eacute;galement utiliser ce num&eacute;ro d&rsquo;identification pour r&eacute;cup&eacute;rer les d&eacute;tails relatifs &agrave; l&rsquo;envoi, tels que l&rsquo;&eacute;tiquette, sans avoir &agrave; fournir d&rsquo;information dans la r&eacute;ponse &laquo; Cr&eacute;er l&rsquo;envoi &raquo;. Au lieu de cela, il suffit d&rsquo;utiliser ce num&eacute;ro d&rsquo;identification dans les demandes Obtenir l&rsquo;envoi.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>groupId</p>
                    </td>
                    <td>
                      <p>Cha&icirc;ne de caract&egrave;res</p>
                    </td>
                    <td>Requis sous condition</td>
                    <td>
                      <p>(Cha&icirc;ne de caract&egrave;res &ndash; Jusqu'&agrave; 32 caract&egrave;res)</p>
                      <p>Ce champ&nbsp;correspond au num&eacute;ro d'identification du groupe (ou au nom du groupe) dans lequel il faut placer l'envoi cr&eacute;&eacute;. Le groupe sera cr&eacute;&eacute; par le service de Postes Canada s'il n'existe pas.</p>
                      <p>Le champ groupId est requis, &agrave; moins que le champ transmitShipment soit fourni; dans un tel cas, le champ groupId ne doit par &ecirc;tre fourni.</p>
                      <p>Il ne faut pas cr&eacute;er un groupe unique pour chaque envoi individuel. Un groupId a pour but&nbsp;de regrouper plusieurs envois ensemble afin de les inclure sur le m&ecirc;me manifeste. Par exemple, le regroupement est utile dans les sc&eacute;narios suivants :</p>
                      <ul>
                        <li>Vous avez plusieurs emplacements de service.</li>
                        <li>Vous souhaitez que tous les envois dans un groupe soient exp&eacute;di&eacute;s le m&ecirc;me jour.</li>
                        <li>Vous voulez regrouper les envois ensemble aux fins de r&eacute;f&eacute;rence interne ou de facturation.</li>
                      </ul>
                      <p><strong>Remarque :</strong> Les envois du r&eacute;gime int&eacute;rieur, &agrave; destination des &Eacute;tats-Unis et du r&eacute;gime international seront plac&eacute;s sur des manifestes s&eacute;par&eacute;s, m&ecirc;me s'ils contiennent le m&ecirc;me groupId.</p>
                      <p><strong>Limites du rendement</strong><br>Afin d'&eacute;viter un d&eacute;lai de temporisation de nos serveurs, veuillez suivre ces recommandations :</p>
                      <ul>
                        <li>Ne pas inclure plus de 30 groupes par manifeste (p. ex. un maximum de 30 groupIds dans une seule demande de service Transmettre les envois).</li>
                        <li>Ne pas placer plus de 5 000 envois dans un groupe.</li>
                      </ul>
                      <p><strong>Limites du syst&egrave;me</strong><br>Pour &eacute;viter une erreur, veuillez ne pas d&eacute;passer les limites suivantes avant d'effectuer une demande de service Transmettre les envois :</p>
                      <ul>
                        <li>Maximum de 50 groupes par manifeste (erreur 9109 si la limite est d&eacute;pass&eacute;e).</li>
                        <li>Maximum de 10 000 envois dans un groupe (erreur 9110 si la limite est d&eacute;pass&eacute;e).</li>
                        <li>Maximum de 10 000 envois dans l'ensemble de plusieurs groupes (erreur 9108 si la limite est d&eacute;pass&eacute;e).</li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>transmitShipment</p>
                    </td>
                    <td>
                      <p>Bool&eacute;en</p>
                    </td>
                    <td>Requis sous condition</td>
                    <td>
                      <p>{true}</p>
                      <p>Fait partie de shipment.</p>
                      <p>Ce champ d&eacute;signe un envoi pour lequel un manifeste n'est pas requis &agrave; titre de preuve de paiement. Cet envoi sera transmis imm&eacute;diatement et une demande de service &laquo; Transmettre les envois &raquo; n'est pas requise.</p>
                      <p>Utilisez ce champ si vous exp&eacute;diez moins de 50 colis par jour &agrave; partir de diff&eacute;rents endroits &agrave; l'aide de l'un des mod&egrave;les op&eacute;rationnels ci-dessous.</p>
                      <ul>
                        <li>Exp&eacute;dition de consommateur &agrave; consommateur (p. ex. sites Web de vente aux ench&egrave;res en ligne)</li>
                        <li>Gestion de la distribution des commandes</li>
                        <li>Livraison directe par une tierce partie</li>
                      </ul>
                      <p>Lorsque ce champ est r&eacute;gl&eacute; &agrave; &laquo; Vrai &raquo;, la facturation sera effectu&eacute;e imm&eacute;diatement apr&egrave;s la pr&eacute;sentation d'une demande de cr&eacute;ation d'un envoi. Votre envoi ne peut pas &ecirc;tre annul&eacute;.</p>
                      <p><strong>Important :</strong> Si vous utilisez les proc&eacute;d&eacute;s traditionnels li&eacute;s &agrave; l'exp&eacute;dition avec convention et aux manifestes (p. ex. si vous exp&eacute;diez plus de 50 colis par jour &agrave; partir d'un entrep&ocirc;t central), ce proc&eacute;d&eacute; ne vous convient pas. Vous devez continuer &agrave; utiliser le proc&eacute;d&eacute; habituel li&eacute; aux manifestes. Le non-respect de cette consigne entra&icirc;nera le refus de votre envoi jusqu'&agrave; ce que vous produisiez les manifestes requis.</p>
                      <p>Si vous &ecirc;tes un client des services d&rsquo;exp&eacute;dition sans convention qui utilise des services Web d&rsquo;exp&eacute;dition avec convention, vous devez fournir ce champ.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>quickshipLabelRequested</p>
                    </td>
                    <td>
                      <p>Bool&eacute;en</p>
                    </td>
                    <td>Facultatif</td>
                    <td>
                      <p>{true}</p>
                      <p>Utilisez ce champ si vous avez d&eacute;j&agrave; un colis du r&eacute;gime int&eacute;rieur indiquant le nom et l'adresse du destinataire, mais que vous voulez cr&eacute;er une &eacute;tiquette suppl&eacute;mentaire aux fins de suivi.</p>
                      <p>R&eacute;glez ce champ &agrave; &laquo; true &raquo; et, &agrave; des fins de facturation, fournissez le code du pays (doit &ecirc;tre CA) et le code postal dans la structure de destination. Une &eacute;tiquette comprenant un code &agrave; barres de rep&eacute;rage et la mention &laquo; Quick Ship &ndash; Refer to Address Label/Exp&eacute;dition rapide &ndash; Reportez-vous &agrave; l&rsquo;&eacute;tiquette d&rsquo;adresse &raquo; sera cr&eacute;&eacute;e.</p>
                      <p>Fournissez uniquement ce param&egrave;tre lorsque vous souhaitez cr&eacute;er une &eacute;tiquette d'exp&eacute;dition rapide (ne fournissez pas ce param&egrave;tre lorsque le champ est r&eacute;gl&eacute; &agrave; &laquo; false &raquo;).</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>requestedShippingPoint</p>
                    </td>
                    <td>
                      <p>Cha&icirc;ne de caract&egrave;res</p>
                    </td>
                    <td>Requis sous condition</td>
                    <td>
                      <p>(Cha&icirc;ne de six caract&egrave;res alphanum&eacute;riques)</p>
                      <p>Doit &ecirc;tre dans un format de code postal valide.</p>
                      <p>Exemple : A9A9A9</p>
                      <p>Le format est &laquo; [A-Z]\d[A-Z]\d[A-Z]\d &raquo;.</p>
                      <p>Il s'agit du code postal de l'emplacement o&ugrave; vos envois sont ramass&eacute;s. Le code postal fourni est utilis&eacute; aux fins de tarification.</p>
                      <p>Si vous d&eacute;posez vous-m&ecirc;me vos envois, vous avez deux choix :</p>
                      <ul>
                        <li>ne pas r&eacute;gler ce champ, et indiquer le num&eacute;ro d'identification de l'emplacement d'exp&eacute;dition dans shippingPointId (option recommand&eacute;e);</li>
                        <li>fournir le code postal de votre lieu d'exp&eacute;dition ici et ne pas r&eacute;gler le champ shippingPointId.</li>
                      </ul>
                      <p><strong>Nota :</strong> L'utilisation du champ requestedShippingPoint pour indiquer le code postal de votre lieu d'exp&eacute;dition ne sera plus possible dans une version future. Si vous d&eacute;posez vous-m&ecirc;me vos envois, nous vous recommandons d'utiliser le champ shippingPointId.</p>
                      <p>Ce champ est obligatoire lorsque l'indicateur de ramassage de la SCP (cpcPickupIndicator) est fourni.</p>
                      <p>Option s'excluant mutuellement avec le champ shippingPointId; cependant, l'une des deux doit &ecirc;tre saisie.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>cpcPickupIndicator</p>
                    </td>
                    <td>
                      <p>Bool&eacute;en</p>
                    </td>
                    <td>Facultatif</td>
                    <td>
                      <p>(true)</p>
                      <p>R&eacute;glez ce champ &agrave; &laquo; true &raquo; si vos envois sont ramass&eacute;s par Postes Canada ou par une tierce partie. Fournissez le code postal de votre lieu de ramassage dans le champ requestedShippingPoint.</p>
                      <p>Ne fournissez pas ce renseignement si vous d&eacute;posez vous-m&ecirc;me vos envois.</p>
                      <p>Option s'excluant mutuellement avec le champ shippingPointId.</p>
                      <p>Vous devez aussi r&eacute;gler ce champ &agrave; &laquo; true &raquo; dans votre demande Transmettre les envois.</p>
                      <p><strong>Nota :</strong> Dans une version future, il sera obligatoire d'indiquer explicitement si votre envoi est ramass&eacute; par Postes Canada (en fournissant &agrave; la fois cet indicateur et le champ requestedShippingPoint) ou d&eacute;pos&eacute; &agrave; un emplacement de Postes Canada (en fournissant le champ shippingPointId).</p>
                      <p>Nous vous recommandons de vous pr&eacute;parer &agrave; ce changement en offrant cet indicateur (et le champ requestedShippingPoint) si votre envoi est ramass&eacute; par Postes Canada.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>shippingPointId</p>
                    </td>
                    <td>
                      <p>Cha&icirc;ne de caract&egrave;res</p>
                    </td>
                    <td>Requis sous condition</td>
                    <td>
                      <p>(Cha&icirc;ne de quatre caract&egrave;res alphanum&eacute;riques)</p>
                      <p>Si vous d&eacute;posez vos articles &agrave; un bureau de poste ou &agrave; une autre installation de Postes Canada, fournissez le num&eacute;ro d'emplacement de ce lieu de d&eacute;p&ocirc;t. Recherchez le num&eacute;ro d'emplacement en question &agrave; l'aide de la fonction <a href="https://www.canadapost-postescanada.ca/information/app/fdl/entreprise/trouverunlieudedepot">Trouver un lieu de d&eacute;p&ocirc;t</a>. Cette information est utilis&eacute;e pour la tarification.</p>
                      <p>Vous devrez aussi fournir de nouveau le num&eacute;ro d'identification du lieu d'exp&eacute;dition (requestedShippingPoint)&nbsp;dans votre demande de service Transmettre les envois. Si vous n'entrez pas le m&ecirc;me num&eacute;ro d'emplacement, des ajustements tarifaires peuvent s'imposer.</p>
                      <p>Option s'excluant mutuellement avec l'option requestedShippingPoint; cependant, l'une des deux doit &ecirc;tre saisie.</p>
                      <p><strong>Nota :</strong> Si vous d&eacute;posez vous-m&ecirc;me vos envois, nous vous recommandons d'utiliser ce champ plut&ocirc;t que le champ requestedShippingPoint pour indiquer votre lieu d'exp&eacute;dition.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>expectedMailingDate</p>
                    </td>
                    <td>
                      <p>Cha&icirc;ne de caract&egrave;res</p>
                    </td>
                    <td>Facultatif</td>
                    <td>
                      <p>(Format de la date : AAAA-MM-JJ)</p>
                      <p><strong>Nota :</strong> Vous pouvez omettre ce champ. Il sera utilis&eacute; dans une version future.</p>
                      <p>Le tarif de tous les envois est &eacute;tabli en fonction de la date d'exp&eacute;dition actuelle, puis il est rajust&eacute; au moment de la transmission (si l'envoi est transmis &agrave; une date ult&eacute;rieure).</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>providePricingInfo</p>
                    </td>
                    <td>
                      <p>Bool&eacute;en</p>
                    </td>
                    <td>Facultatif</td>
                    <td>
                      <p>{true}</p>
                      <p>Ce champ indique que vous voulez que la structure tarifaire des envois soit incluse dans la r&eacute;ponse &agrave; cette demande. Cela entra&icirc;ne une plus grande charge, mais &eacute;limine la n&eacute;cessit&eacute; de soumettre une autre demande&nbsp;Obtenir le tarif de l&rsquo;envoi.</p>
                      <p>S&rsquo;applique uniquement aux envois o&ugrave; le champ &laquo; transmitShipment &raquo; est r&eacute;gl&eacute; &agrave; &laquo; true &raquo;.</p>
                      <p>Fournir ce param&egrave;tre uniquement si vous voulez obtenir des d&eacute;tails sur la tarification dans la r&eacute;ponse (ne pas le fournir lorsque le champ est r&eacute;gl&eacute; &agrave; &laquo; false &raquo;).</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>provideReceiptInfo</p>
                    </td>
                    <td>
                      <p>Bool&eacute;en</p>
                    </td>
                    <td>Facultatif</td>
                    <td>
                      <p>{true}</p>
                      <p>Ce champ indique que vous voulez que la structure &laquo; shipmentReceipt &raquo; soit incluse dans la r&eacute;ponse &agrave; cette demande. Il en r&eacute;sulte une plus grande charge, mais cela &eacute;limine la n&eacute;cessit&eacute; de soumettre une autre demande&nbsp;Obtenir le re&ccedil;u de l&rsquo;envoi.</p>
                      <p>Ne s&rsquo;applique qu&rsquo;&agrave; un envoi o&ugrave; le champ &laquo; transmitShipment=true &raquo; est pay&eacute; par carte de cr&eacute;dit ou par compte de fournisseur.</p>
                      <p>Fournir ce param&egrave;tre uniquement si vous voulez que les d&eacute;tails du re&ccedil;u soient indiqu&eacute;s dans la r&eacute;ponse (c.-&agrave;-d. qu&rsquo;il ne faut pas le fournir lorsque le champ est r&eacute;gl&eacute; &agrave; &laquo; false &raquo;).</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>deliverySpec</p>
                    </td>
                    <td>Objet</td>
                    <td>Requis</td>
                    <td>
                      <p>Fournit une description des d&eacute;tails de la demande de livraison, y compris le destinataire, le code de service, l'exp&eacute;diteur, les options, les sp&eacute;cifications de l'envoi, les renseignements li&eacute;s &agrave; l'avis et les num&eacute;ros d'identification de r&eacute;f&eacute;rence.</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>serviceCode</p>
                    </td>
                    <td>
                      <p>Cha&icirc;ne de caract&egrave;res</p>
                    </td>
                    <td>Requis</td>
                    <td>
                      <p>(Cha&icirc;ne de caract&egrave;res &ndash; Jusqu'&agrave; 32 caract&egrave;res)</p>
                      <p>Doit &ecirc;tre un code valide correspondant au service de livraison de Postes Canada utilis&eacute; pour exp&eacute;dier l'article. Les codes les plus fr&eacute;quemment utilis&eacute;s sont &eacute;num&eacute;r&eacute;s ci-dessous.</p>
                      <table summary="Code de service" cellspacing="0">
                        <thead>
                          <tr>
                            <th>Code de service</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>DOM.RP</td>
                            <td>Colis standard</td>
                          </tr>
                          <tr>
                            <td>DOM.EP</td>
                            <td>Colis acc&eacute;l&eacute;r&eacute;s</td>
                          </tr>
                          <tr>
                            <td>DOM.XP</td>
                            <td>Xpresspost</td>
                          </tr>
                          <tr>
[...]
